.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content .error{
    font-family: 'Roboto';
    max-width: 80%;
    text-align: center;
    color: white;
    background: var(--color-ground-elements);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 40px 20px;
}

.content .error hr{
    height: 2px;
    width: 90%;
    background: #7d7d7d;
}
