body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.content {
    justify-content: space-around;
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95%;
    overflow-x: hidden;
}

.content .brand {
    text-align: center;
}

.content h3 {
    font-weight: 600;
    color: white;
}

.content h6 {
    color: white;
}

.content .video-class {
    display: flex;
    flex-direction: column;
}

.content .video-class h3 {
    margin: 20px 0 10px 0;
    text-align: left;
}

.content .video-class h6{
    text-align: justify;
    color: rgba(245, 245, 245, 0.668);
    width:80%;
}

.content .video-class iframe {
    border-radius: 8px;
    transition: .4s;
}

.content .classes {
    border-radius: 8px;
    background: var(--color-ground-elements);
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
}
.content .classes h3 {
    margin: 20px auto 25px auto;
}

.content .classes ul {
    padding: 0;
}

.content .classes ul li {
    list-style-type: none;
    background: #29292e;
    padding: 15px 10px;
    margin: 25px 0;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #29292e92;
    transition: .4s;
    cursor: pointer;
}

.content .classes ul li:hover {
    background-color: var(--color-ground);
    outline: 1px solid var(--color-purple);
}

.content .classes ul li a {
    font-family: "Poppins";
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}

.content .classes ul li a:hover{
    color: whitesmoke;
}

@media (max-width: 1080px){
    .content .video-class h6{
        width: 90%;
    }
    .content .video {
        width: 80%;
        padding-top: 56.25%;
        position: relative;
    }
    .content .video iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }  

    .content .classes{
        width: unset;
    }
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .content .video {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
    }
    .content .video iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .content .classes {
        margin-top: 100px;
    }
}

@media (max-width: 640px) {
    .content .video-class h3{
        width: unset;
        text-align:center;
    }

    .content .video-class h6{
        padding-left: 30px;
    }

    .content .video {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        
    }
    .content .video iframe {
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
    }
    .content .classes{
        min-width: 320px;
        max-width: 400px;
}
}
