body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 100px;
}

.content .informations {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .informations .brand {
    margin-bottom: 70px;
}

.content .informations h1{
    text-align: unset;
}

.content .informations .stamps {
    margin-top: 40px;
    display: flex;
    justify-content: space-arounds;
}

.content .informations .stamps .styles_bannerInfo__3HiwY {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 8px;
    background: var(--color-ground-elements);
}

.content .informations .stamps .styles_bannerInfo__3HiwY span {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-green);
}

.content form span{
    margin-top: 15px;
}

.content form span a{
    color: var(--color-green);
    text-decoration: none;
    transition: .4s;
}

.content form span a:hover{
    text-decoration: underline;
    font-weight: 600;
}

@media(max-width: 1000px) {
    .content {
        flex-direction: column;
        overflow-x: hidden;
    }
    .content .informations {
        width: 95%;
    }
    .content .informations .stamps .styles_bannerInfo__3HiwY {
        padding: 0;
    }
    .content .informations .stamps .styles_bannerInfo__3HiwY+.styles_bannerInfo__3HiwY+.styles_bannerInfo__3HiwY {
        display: none;
    }
}   

@media (max-width: 500px) {
    .content{
        margin-top: auto;
    }
}